In [8]:
# import libraries

import os
import pandas as pd

In [10]:
os.getcwd()

'c:\\Users\\sylva\\Desktop\\nflpredictor\\nfl\\02_features_engineering'

In [11]:
# import file json as dadtaframe
df_gamesinfo_1 = pd.read_json("../01_scraping/json/gamescast.json")
df_gamesinfo_2 = pd.read_json("../01_scraping/json//gamescast_2.json")
df_gamesinfo = pd.concat([df_gamesinfo_1, df_gamesinfo_2], axis =0)

In [12]:
df_gamesinfo.head()

,idgame,date,stade,location,attendance,capacity,people,line,over_under
0,401030718,2018-09-09 17:00:00+00:00,FirstEnergy Stadium,"Cleveland, OH","Attendance: 67,431","Capacity: 67,431",100%,None,None
1,401030710,2018-09-07 00:55:00+00:00,Lincoln Financial Field,"Philadelphia, PA","Attendance: 69,696","Capacity: 69,879",100%,None,None
2,401220225,2020-09-11 00:20:00+00:00,GEHA Field at Arrowhead Stadium,"Kansas City, MO","Attendance: 15,895","Capacity: 72,936",22%,Over/Under: 53.0,None
3,401030713,2018-09-09 17:00:00+00:00,Caesars Superdome,"New Orleans, LA","Attendance: 73,038","Capacity: 73,000",100%,None,None
4,401030716,2018-09-09 17:00:00+00:00,Hard Rock Stadium,"Miami Gardens, FL","Attendance: 65,184","Capacity: 64,767",100%,None,None

In [13]:
# describe
df_gamesinfo.describe(include="all")

C:\Users\sylva\AppData\Local\Temp\ipykernel_12504\2745996119.py:2: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df_gamesinfo.describe(include="all")

,idgame,date,stade,location,attendance,capacity,people,line,over_under
count,1.280000e+03,1280,1280,1280,1130,1280,1130,528,474
unique,NaN,535,37,35,976,35,58,342,42
top,NaN,2019-10-06 17:00:00+00:00,MetLife Stadium,"East Rutherford, NJ","Attendance: 65,878","Capacity: 82,500",100%,Line: MIN -3.0,Over/Under: 44.5
freq,NaN,10,80,80,33,82,425,5,25
first,NaN,2017-09-08 00:30:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last,NaN,2022-01-10 01:20:00+00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,4.011353e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,1.341043e+05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,4.009502e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,4.010308e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,4.011280e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,4.012203e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,4.013266e+08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
df_gamesinfo.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1280 entries, 0 to 62
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   idgame      1280 non-null   int64
 1   date        1280 non-null   datetime64[ns, UTC]
 2   stade       1280 non-null   object
 3   location    1280 non-null   object
 4   attendance  1130 non-null   object
 5   capacity    1280 non-null   object
 6   people      1130 non-null   object
 7   line        528 non-null    object
 8   over_under  474 non-null    object
dtypes: datetime64[ns, UTC](1), int64(1), object(7)
memory usage: 100.0+ KB

In [45]:
df_gamesinfo["attendance"].isnull().sum()

150

In [46]:
# preprocessing attendance

df_gamesinfo["attendance"] = df_gamesinfo["attendance"].apply(lambda x : None if x == None
                                    else int(x.replace("Attendance: ","").replace(",","")))
df_gamesinfo["attendance"].head()

0    15895.0
1        NaN
2        NaN
3        NaN
4        NaN
Name: attendance, dtype: float64

In [47]:
# preprocessing capacity
df_gamesinfo["capacity"] = df_gamesinfo["capacity"].apply(lambda x : None if x == None
                                                        else int(x.replace("Capacity: ","").replace(",","")))
df_gamesinfo["capacity"].head()

0    72936
1    64500
2    71621
3    75000
4    73778
Name: capacity, dtype: int64

In [48]:
# preprocessing people

df_gamesinfo["people"] = df_gamesinfo["people"].apply(lambda x : None if x == None
                                                    else int(x.replace("%","")))
df_gamesinfo["people"].head()

0    22.0
1     NaN
2     NaN
3     NaN
4     NaN
Name: people, dtype: float64

In [49]:
# new feature attendance_info : boolean
df_gamesinfo["attendance_info"] = df_gamesinfo["attendance"].apply(lambda x : 1 if x > 0
                                                                                else 0)

In [50]:
df_gamesinfo.describe()

             idgame    attendance       capacity       people  attendance_info
count  1.294000e+03   1144.000000    1294.000000  1144.000000      1294.000000
mean   4.011342e+08  61902.023601   70212.137558    88.034091         0.884080
std    1.338145e+05  19033.883664    9589.398730    24.076643         0.320252
min    4.009502e+08    748.000000   27000.000000     1.000000         0.000000
25%    4.010308e+08  60546.750000   65828.000000    91.000000         1.000000
50%    4.011280e+08  66880.500000   68740.000000    97.000000         1.000000
75%    4.012203e+08  71865.250000   73000.000000   100.000000         1.000000
max    4.013266e+08  93503.000000  100000.000000   100.000000         1.000000

In [40]:
df_gamesinfo[df_gamesinfo["attendance_info"]==0].head()

,idgame,date,stade,location,attendance,capacity,people,line,over_under,attendance_info
1,401220282,2020-09-13 17:00:00+00:00,Ford Field,"Detroit, MI",NaN,64500,NaN,Over/Under: 42.5,None,0
2,401220116,2020-09-13 17:00:00+00:00,Highmark Stadium,"Orchard Park, NY",NaN,71621,NaN,Over/Under: 38.5,None,0
3,401220313,2020-09-13 17:00:00+00:00,Mercedes-Benz Stadium,"Atlanta, GA",NaN,75000,NaN,Over/Under: 49.0,None,0
4,401220370,2020-09-13 17:00:00+00:00,Bank of America Stadium,"Charlotte, NC",NaN,73778,NaN,Over/Under: 48.0,None,0
5,401220268,2020-09-13 17:00:00+00:00,FedExField,"Landover, MD",NaN,67617,NaN,Over/Under: 41.5,None,0

In [51]:
df_gamesinfo["date"].dtype

datetime64[ns, UTC]

In [52]:
# creates new variables with dt

df_gamesinfo['month'] = df_gamesinfo['date'].dt.month
df_gamesinfo['dayofmonth'] = df_gamesinfo['date'].dt.day
df_gamesinfo['dayofweek']=df_gamesinfo["date"].dt.dayofweek
df_gamesinfo['hour'] = df_gamesinfo['date'].dt.hour
df_gamesinfo['minute'] = df_gamesinfo['date'].dt.minute

In [55]:
df_gamesinfo.head(10)

,idgame,date,stade,location,attendance,capacity,people,line,over_under,attendance_info,dayofweek,dayofmonth,hour,month,minute
0,401030690,2018-09-14 00:20:00+00:00,Paycor Stadium,"Cincinnati, OH",50018,65515,76,None,None,1,4,14,0,9,20
1,401030694,2018-09-16 17:00:00+00:00,Nissan Stadium,"Nashville, TN",62372,69143,90,None,None,1,6,16,17,9,0
2,401030705,2018-09-16 17:00:00+00:00,Lambeau Field,"Green Bay, WI",78461,81441,96,None,None,1,6,16,17,9,0
3,400951620,2017-09-15 00:25:00+00:00,Paycor Stadium,"Cincinnati, OH",52942,65515,81,None,None,1,4,15,0,9,25
4,400951566,2017-09-08 00:30:00+00:00,Gillette Stadium,"Foxboro, MA",65878,65878,100,None,None,1,4,8,0,9,30
5,401127913,2019-09-06 00:20:00+00:00,Soldier Field,"Chicago, IL",62435,61500,100,None,None,1,4,6,0,9,20
6,401030691,2018-09-16 17:00:00+00:00,Mercedes-Benz Stadium,"Atlanta, GA",72528,75000,97,None,None,1,6,16,17,9,0
7,401030704,2018-09-16 17:00:00+00:00,Highmark Stadium,"Orchard Park, NY",69187,71621,97,None,None,1,6,16,17,9,0
8,400951632,2017-09-17 17:00:00+00:00,Lucas Oil Stadium,"Indianapolis, IN",63137,63000,100,None,None,1,6,17,17,9,0
9,401030698,2018-09-16 17:00:00+00:00,Acrisure Stadium,"Pittsburgh, PA",63956,68400,94,None,None,1,6,16,17,9,0

In [53]:
os.getcwd()

'c:\\Users\\sylva\\Desktop\\nflpredictor\\nfl\\01_scraping'

In [54]:
# save file

df_gamesinfo.to_csv('../04_datasets/games_info_features_v2.csv')