In [2]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import  OneHotEncoder, StandardScaler, LabelEncoder
from sklearn.compose import ColumnTransformer
# import ensemble methods
from sklearn.ensemble import BaggingClassifier, AdaBoostClassifier, GradientBoostingClassifier, VotingClassifier, StackingClassifier
from xgboost import XGBClassifier
# import base estimators
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import accuracy_score, f1_score, ConfusionMatrixDisplay, RocCurveDisplay
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning) # to avoid deprecation warnings

import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio

In [86]:
# Import dataset
print("Loading dataset...")
dataset = pd.read_csv("../../04_datasets/nfl_dataset_v3.csv")
print("...Done.")
print()

Loading dataset...
...Done.

In [87]:
# Basic stats
print("Number of rows : {}".format(dataset.shape[0]))
print()

print("Display of dataset: ")
display(dataset.head())
print()

print("Basics statistics: ")
data_desc = dataset.describe(include='all')
display(data_desc)
print()

print("Percentage of missing values: ")
display(100*dataset.isnull().sum()/dataset.shape[0])

Number of rows : 1289

Display of dataset:

,Unnamed: 0,season,week,awayteam,hometeam,awayscore,homescore,idgame,score_abs,winner_home,...,capacity,people,attendance_info,month,dayofmonth,dayofweek,hour,minute,win_streak,lose_streak
0,0,2017,9,Bengals,Jaguars,7,23,400951753,16,1,...,67858,89.0,1,11,5,6,18,0,0.0,1.0
1,4,2017,4,Bills,Falcons,23,17,400951685,-6,0,...,75000,95.0,1,10,1,6,17,0,2.0,0.0
2,8,2017,4,Saints,Dolphins,20,0,400950241,-20,0,...,86000,98.0,1,10,1,6,13,30,0.0,2.0
3,12,2017,4,Bears,Packers,14,35,400951678,21,1,...,81041,97.0,1,9,29,4,0,25,0.0,1.0
4,16,2017,16,Colts,Ravens,16,23,400951596,7,1,...,70745,100.0,1,12,23,5,21,30,0.0,6.0

Basics statistics:

,Unnamed: 0,season,week,awayteam,hometeam,awayscore,homescore,idgame,score_abs,winner_home,...,capacity,people,attendance_info,month,dayofmonth,dayofweek,hour,minute,win_streak,lose_streak
count,1289.000000,1289.000000,1289.000000,1289,1289,1289.000000,1289.000000,1.289000e+03,1289.000000,1289.000000,...,1289.000000,1140.000000,1289.000000,1289.000000,1289.000000,1289.000000,1289.000000,1289.00000,1275.000000,1275.000000
unique,NaN,NaN,NaN,32,32,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,NaN,NaN,Cowboys,Jaguars,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,NaN,NaN,41,41,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,2504.291699,2019.027153,9.175330,NaN,NaN,22.494182,23.759503,4.011341e+08,1.265322,0.539178,...,70211.602017,88.013158,0.884407,10.254461,16.082234,5.098526,15.049651,9.09232,1.032941,1.349804
std,1461.807501,1.422984,5.062066,NaN,NaN,10.139945,10.328135,1.338832e+05,14.768326,0.498656,...,9601.706381,24.114280,0.319861,2.123613,8.765195,1.920486,7.274286,11.26295,1.603718,2.210647
min,0.000000,2017.000000,1.000000,NaN,NaN,0.000000,0.000000,4.009502e+08,-49.000000,0.000000,...,27000.000000,1.000000,0.000000,1.000000,1.000000,0.000000,0.000000,0.00000,0.000000,0.000000
25%,1244.000000,2018.000000,5.000000,NaN,NaN,16.000000,17.000000,4.010308e+08,-7.000000,0.000000,...,65828.000000,91.000000,1.000000,10.000000,9.000000,6.000000,17.000000,0.00000,0.000000,0.000000
50%,2485.000000,2019.000000,9.000000,NaN,NaN,23.000000,24.000000,4.011280e+08,2.000000,1.000000,...,68740.000000,97.000000,1.000000,11.000000,16.000000,6.000000,18.000000,0.00000,0.000000,1.000000
75%,3773.000000,2020.000000,14.000000,NaN,NaN,30.000000,31.000000,4.012203e+08,10.000000,1.000000,...,73000.000000,100.000000,1.000000,12.000000,24.000000,6.000000,20.000000,20.00000,1.500000,2.000000
max,5053.000000,2021.000000,18.000000,NaN,NaN,59.000000,57.000000,4.013266e+08,44.000000,1.000000,...,100000.000000,100.000000,1.000000,12.000000,31.000000,6.000000,23.000000,55.00000,14.000000,20.000000

Percentage of missing values:

Unnamed: 0                0.000000
season                    0.000000
week                      0.000000
awayteam                  0.000000
hometeam                  0.000000
awayscore                 0.000000
homescore                 0.000000
idgame                    0.000000
score_abs                 0.000000
winner_home               0.000000
winner_away               0.000000
winner_team               0.000000
concat                    0.000000
home_coach                0.000000
away_coach                0.000000
location_x                0.000000
weather_type              0.000000
temperature               0.000000
humidity                  0.000000
wind                      0.000000
game_date                 0.000000
team                      0.000000
delta_match               1.163693
pass_yds_MA_5             6.206362
pass_td_MA_5              6.206362
rush_yds_MA_5             6.206362
rush_td_MA_5              6.206362
rec_yds_MA_5              6.206362
rec_td_MA_5               6.206362
fumbles_MA_5              6.206362
fumbles_rec_MA_5          6.206362
defense_sacks_MA_5        6.206362
defense_td_MA_5           6.206362
interceptions_MA_5        6.206362
interceptions_td_MA_5     6.206362
kicks_return_yds_MA_5     6.206362
kicks_return_td_MA_5      6.206362
punt_return_yds_MA_5      6.206362
kicking_pct_MA_5          6.206362
date                      0.000000
stade                     0.000000
location_y                0.000000
attendance               11.559348
capacity                  0.000000
people                   11.559348
attendance_info           0.000000
month                     0.000000
dayofmonth                0.000000
dayofweek                 0.000000
hour                      0.000000
minute                    0.000000
win_streak                1.086113
lose_streak               1.086113
dtype: float64

In [88]:
# Separate target variable Y from features X
print("Separating labels from features...")
target_variable = "winner_home"

X = dataset.drop(target_variable, axis = 1)
features_drop_list = {'week','month','delta_match','season','winner_away','concat','idgame','awayscore','homescore','score_abs','location_x','game_date','date','location_y','attendance','capacity','attendance_info','hour','minute' }
X.drop(features_drop_list, axis=1, inplace=True)

Y = dataset.loc[:,target_variable]

print("...Done.")
print()

print('Y : ')
print(Y.head())
print()
print('X :')
print(X.head())

Separating labels from features...
...Done.

Y :
0    1
1    0
2    0
3    1
4    1
Name: winner_home, dtype: int64

X :
   Unnamed: 0 awayteam  hometeam winner_team     home_coach      away_coach  \
0           0  Bengals   Jaguars     Jaguars   Doug Marrone    Marvin Lewis
1           4    Bills   Falcons       Bills      Dan Quinn  Sean McDermott
2           8   Saints  Dolphins      Saints      Adam Gase     Sean Payton
3          12    Bears   Packers     Packers  Mike McCarthy        John Fox
4          16    Colts    Ravens      Ravens  John Harbaugh    Chuck Pagano

  weather_type  temperature  humidity  wind  ... kicks_return_yds_MA_5  \
0       cloudy           78        74    12  ...                  39.0
1       cloudy           68        70     5  ...                   NaN
2       cloudy           63        64    13  ...                   NaN
3       cloudy           65        62     5  ...                   NaN
4       cloudy           63        78    14  ...                  17.2

   kicks_return_td_MA_5  punt_return_yds_MA_5  kicking_pct_MA_5  \
0                   0.0                  31.2              60.0
1                   NaN                   NaN               NaN
2                   NaN                   NaN               NaN
3                   NaN                   NaN               NaN
4                   0.0                   3.8              80.0

                   stade  people  dayofmonth  dayofweek  win_streak  \
0        TIAA Bank Field    89.0           5          6         0.0
1  Mercedes-Benz Stadium    95.0           1          6         2.0
2        Wembley Stadium    98.0           1          6         0.0
3          Lambeau Field    97.0          29          4         0.0
4       M&T Bank Stadium   100.0          23          5         0.0

   lose_streak
0          1.0
1          0.0
2          2.0
3          1.0
4          6.0

[5 rows x 33 columns]

In [89]:
# Automatically detect names of numeric/categorical columns
numeric_features = []
categorical_features = []
for i,t in X.dtypes.iteritems():
    if ('float' in str(t)) or ('int' in str(t)) :
        numeric_features.append(i)
    else :
        categorical_features.append(i)

print('Found numeric features ', numeric_features)
print('Found categorical features ', categorical_features)

Found numeric features  ['Unnamed: 0', 'temperature', 'humidity', 'wind', 'pass_yds_MA_5', 'pass_td_MA_5', 'rush_yds_MA_5', 'rush_td_MA_5', 'rec_yds_MA_5', 'rec_td_MA_5', 'fumbles_MA_5', 'fumbles_rec_MA_5', 'defense_sacks_MA_5', 'defense_td_MA_5', 'interceptions_MA_5', 'interceptions_td_MA_5', 'kicks_return_yds_MA_5', 'kicks_return_td_MA_5', 'punt_return_yds_MA_5', 'kicking_pct_MA_5', 'people', 'dayofmonth', 'dayofweek', 'win_streak', 'lose_streak']
Found categorical features  ['awayteam', 'hometeam', 'winner_team', 'home_coach', 'away_coach', 'weather_type', 'team', 'stade']

In [90]:
# Divide dataset Train set & Test set 
print("Dividing into train and test sets...")
# WARNING : don't forget stratify=Y for classification problems
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=0, stratify = Y)
print("...Done.")
print()

Dividing into train and test sets...
...Done.

In [91]:
# Create pipeline for numeric features
numeric_transformer = Pipeline(steps=[
    ('imputer', SimpleImputer(strategy='mean')), # missing values will be replaced by columns' mean
    ('scaler', StandardScaler())
])

In [92]:
# Create pipeline for categorical features
categorical_transformer = OneHotEncoder(drop='first') # no missing values in categorical data, so we only need the OHE

In [93]:
# Use ColumnTransformer to make a preprocessor object that describes all the treatments to be done
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numeric_transformer, numeric_features),
        ('cat', categorical_transformer, categorical_features)
    ])

In [94]:
# Preprocessings on train set
print("Performing preprocessings on train set...")
print(X_train.head())
X_train = preprocessor.fit_transform(X_train)
print('...Done.')
print(X_train[0:5]) # MUST use this syntax because X_train is a numpy array and not a pandas DataFrame anymore
print()
# Label encoding
print("Encoding labels...")
print(Y_train.head())
encoder = LabelEncoder()
Y_train = encoder.fit_transform(Y_train)
print("...Done")
print(Y_train[0:5])

# Preprocessings on test set
print("Performing preprocessings on test set...")
print(X_test.head()) 
X_test = preprocessor.transform(X_test) # Don't fit again !! The test set is used for validating decisions
# we made based on the training set, therefore we can only apply transformations that were parametered using the training set.
# Otherwise this creates what is called a leak from the test set which will introduce a bias in all your results.
print('...Done.')
print(X_test[0:5,:]) # MUST use this syntax because X_test is a numpy array and not a pandas DataFrame anymore
print()
# Label encoding
print("Encoding labels...")
print(Y_test[0:5])
Y_test = encoder.transform(Y_test)
print("...Done")
print(Y_test[0:5])

Performing preprocessings on train set...
      Unnamed: 0  awayteam   hometeam winner_team       home_coach  \
635         2449  Panthers      Colts       Colts      Frank Reich
1011        3953  Dolphins  Cardinals    Dolphins  Kliff Kingsbury
273         1056   Bengals     Ravens      Ravens    John Harbaugh
1196        4685      Jets      Colts       Colts      Frank Reich
1183        4633  Panthers     Giants      Giants        Joe Judge

        away_coach weather_type  temperature  humidity  wind  ...  \
635     Ron Rivera        sunny           45        57     3  ...
1011  Brian Flores       cloudy           66        34    11  ...
273   Marvin Lewis       cloudy           48        58     8  ...
1196  Robert Saleh       cloudy           44        54     2  ...
1183    Matt Rhule       cloudy           57        51     0  ...

     kicks_return_yds_MA_5  kicks_return_td_MA_5  punt_return_yds_MA_5  \
635                   27.6                   0.0                  15.0
1011                  30.2                   0.0                   3.4
273                   65.0                   0.0                  10.8
1196                  47.6                   0.0                  13.8
1183                  48.0                   0.0                  15.4

      kicking_pct_MA_5               stade  people  dayofmonth  dayofweek  \
635              58.34   Lucas Oil Stadium    98.0          22          6
1011             75.00  State Farm Stadium     6.0           8          6
273              53.34    M&T Bank Stadium    99.0          18          6
1196             90.00   Lucas Oil Stadium    95.0           5          4
1183             86.80     MetLife Stadium    87.0          24          6

      win_streak  lose_streak
635          1.0          0.0
1011         0.0          1.0
273          0.0          4.0
1196         1.0          0.0
1183         1.0          0.0

[5 rows x 33 columns]
...Done.
  (0, 0)	-0.05533977687827468
  (0, 1)	-0.5927018646245802
  (0, 2)	-0.16123724695694688
  (0, 3)	-0.2348845209670978
  (0, 4)	-1.1253621058315366
  (0, 5)	-1.2529621607803731
  (0, 6)	0.5392926794693218
  (0, 7)	1.7235405399448087
  (0, 8)	-1.1263445546020843
  (0, 9)	-1.2543263951989365
  (0, 10)	-0.8428506045601034
  (0, 11)	-0.10487792353789396
  (0, 12)	-0.39678432474465175
  (0, 13)	0.4960020829389683
  (0, 14)	0.5348913684751402
  (0, 15)	1.111852312994856
  (0, 16)	-0.8848528876545836
  (0, 17)	-0.2855140559572306
  (0, 18)	0.07387202775957849
  (0, 19)	-0.8476665399579505
  (0, 20)	0.45110742714882385
  (0, 21)	0.6720399539078378
  (0, 22)	0.47739596646510607
  (0, 23)	-0.02503949192221148
  (0, 24)	-0.6036964667272517
  :	:
  (4, 7)	0.30235825472174654
  (4, 8)	0.9063019314773486
  (4, 9)	-1.2543263951989365
  (4, 10)	0.6891707116171663
  (4, 11)	2.2305980589494614
  (4, 12)	-0.9409133630972603
  (4, 13)	-0.7596663480802092
  (4, 14)	0.5348913684751402
  (4, 15)	-0.6133120823294207
  (4, 16)	0.20053125820726186
  (4, 17)	-0.2855140559572306
  (4, 18)	0.12329128416063162
  (4, 19)	0.7891285235006648
  (4, 20)	-0.02709900273468883
  (4, 21)	0.9009376058665364
  (4, 22)	0.47739596646510607
  (4, 23)	-0.02503949192221148
  (4, 24)	-0.6036964667272517
  (4, 44)	1.0
  (4, 70)	1.0
  (4, 101)	1.0
  (4, 145)	1.0
  (4, 219)	1.0
  (4, 263)	1.0
  (4, 302)	1.0

Encoding labels...
635     1
1011    0
273     1
1196    1
1183    1
Name: winner_home, dtype: int64
...Done
[1 0 1 1 1]
Performing preprocessings on test set...
     Unnamed: 0  awayteam  hometeam winner_team    home_coach     away_coach  \
738        2861  Chargers     Bears    Chargers     Matt Nagy   Anthony Lynn
434        1653     Bears   Vikings       Bears   Mike Zimmer      Matt Nagy
672        2597  Steelers  Chargers    Steelers  Anthony Lynn    Mike Tomlin
303        1172    Eagles      Rams      Eagles    Sean McVay  Doug Pederson
0             0   Bengals   Jaguars     Jaguars  Doug Marrone   Marvin Lewis

    weather_type  temperature  humidity  wind  ... kicks_return_yds_MA_5  \
738       cloudy           52        59     9  ...                  61.6
434       indoor           68        70     5  ...                  37.6
672       cloudy           71        61     9  ...                  38.0
303       cloudy            6        79     5  ...                  63.2
0         cloudy           78        74    12  ...                  39.0

     kicks_return_td_MA_5  punt_return_yds_MA_5  kicking_pct_MA_5  \
738                   0.2                  20.8             70.00
434                   0.0                  27.4             73.34
672                   0.0                  13.8             80.00
303                   0.0                   8.2             80.00
0                     0.0                  31.2             60.00

                             stade  people  dayofmonth  dayofweek  win_streak  \
738                  Soldier Field   100.0          27          6         0.0
434              U.S. Bank Stadium   100.0          30          6         4.0
672     Dignity Health Sports Park    94.0          14          0         0.0
303  Los Angeles Memorial Coliseum    96.0          17          0         1.0
0                  TIAA Bank Field    89.0           5          6         0.0

     lose_streak
738          3.0
434          0.0
672          2.0
303          0.0
0            1.0

[5 rows x 33 columns]
...Done.
  (0, 0)	0.2273704230560416
  (0, 1)	-0.2650724714723441
  (0, 2)	-0.05724250087461202
  (0, 3)	0.032850073966100464
  (0, 4)	-1.010633408373043
  (0, 5)	0.03687154566234424
  (0, 6)	-1.5439166573040206
  (0, 7)	-1.1188240305013155
  (0, 8)	-1.0111151619671959
  (0, 9)	0.04002811505193733
  (0, 10)	-1.6088612626487382
  (0, 11)	1.296407665954519
  (0, 12)	0.41940923278426123
  (0, 13)	0.4960020829389683
  (0, 14)	0.06539730235006289
  (0, 15)	1.111852312994856
  (0, 16)	0.9241206887818256
  (0, 17)	3.7536700886141796
  (0, 18)	0.7904512455748482
  (0, 19)	-0.1770751682106753
  (0, 20)	0.5380540507640079
  (0, 21)	1.2442840838045843
  (0, 22)	0.47739596646510607
  (0, 23)	-0.6467517547712663
  (0, 24)	0.7038843909926255
  :	:
  (4, 7)	-1.5925514589090028
  (4, 8)	-0.2183369406391631
  (4, 9)	1.0107939977400928
  (4, 10)	1.8381866987501185
  (4, 11)	-1.5061635130303068
  (4, 12)	1.7797318286657826
  (4, 13)	1.7516705139581457
  (4, 14)	0.06539730235006289
  (4, 15)	2.837016708319133
  (4, 16)	-0.27831468849649355
  (4, 17)	-0.2855140559572306
  (4, 18)	2.075351912002228
  (4, 19)	-0.7521964132769492
  (4, 20)	0.05984762088049529
  (4, 21)	-1.2735900877411004
  (4, 22)	0.47739596646510607
  (4, 23)	-0.6467517547712663
  (4, 24)	-0.16783618082062599
  (4, 26)	1.0
  (4, 71)	1.0
  (4, 102)	1.0
  (4, 135)	1.0
  (4, 215)	1.0
  (4, 250)	1.0
  (4, 311)	1.0

Encoding labels...
738    0
434    0
672    0
303    0
0      1
Name: winner_home, dtype: int64
...Done
[0 0 0 0 1]

XGBOOST

In [95]:
# Perform grid search
print("Grid search...")
xgboost = XGBClassifier()

# Grid of values to be tested
params = {
    'max_depth': [2, 4, 6], # exactly the same role as in scikit-learn
    'min_child_weight': [1, 2, 3], # effect is more or less similar to min_samples_leaf and min_samples_split
    'n_estimators': [2, 4, 6, 8,] # exactly the same role as in scikit-learn
}
print(params)
gridsearch = GridSearchCV(xgboost, param_grid = params, cv = 3) # cv : the number of folds to be used for CV
gridsearch.fit(X_train, Y_train)
print("...Done.")
print("Best hyperparameters : ", gridsearch.best_params_)
print("Best validation accuracy : ", gridsearch.best_score_)
print()
print("Accuracy on training set : ", gridsearch.score(X_train, Y_train))
print("Accuracy on test set : ", gridsearch.score(X_test, Y_test))

Grid search...
{'max_depth': [2, 4, 6], 'min_child_weight': [1, 2, 3], 'n_estimators': [2, 4, 6, 8]}
...Done.
Best hyperparameters :  {'max_depth': 6, 'min_child_weight': 1, 'n_estimators': 8}
Best validation accuracy :  0.6295003051054309

Accuracy on training set :  0.8205625606207565
Accuracy on test set :  0.7441860465116279

In [65]:
X.columns

Index(['Unnamed: 0', 'week', 'awayteam', 'hometeam', 'winner_team',
       'home_coach', 'away_coach', 'weather_type', 'temperature', 'humidity',
       'wind', 'team', 'pass_yds_MA_5', 'pass_td_MA_5', 'rush_yds_MA_5',
       'rush_td_MA_5', 'rec_yds_MA_5', 'rec_td_MA_5', 'fumbles_MA_5',
       'fumbles_rec_MA_5', 'defense_sacks_MA_5', 'defense_td_MA_5',
       'interceptions_MA_5', 'interceptions_td_MA_5', 'kicks_return_yds_MA_5',
       'kicks_return_td_MA_5', 'punt_return_yds_MA_5', 'kicking_pct_MA_5',
       'stade', 'people', 'month', 'dayofmonth', 'dayofweek', 'win_streak',
       'lose_streak'],
      dtype='object')